<section class='container'>

  <div class='row justify-content-around'><h3 style='text-align: center; padding-top: 1em;'>My Posts</h3></div>
  
  {{!-- >>>>>>>>>>>>>>>>> POST <<<<<<<<<<<<<<<<<<< --}}
  <!-- >>>>FOR EACH PARTIAL<<<< -->
  <div class='row justify-content-around'>
    <article class='col-6'>
      <div class='row'>
        <div class='card text-white bg-secondary mb-3 col-md-s2' style='margin-top: 2em'>
          <p style='font-weight: bolder; font-size: 1.5em;' class='card-header title' id='{{post.id}}'>{{post.title}}</p>
          <p class="card-body">{{post.content}}</p>
          <p style='font-style: italic;'>Posted by<span style='font-weight:bold'>{{user.username}} on {{timestamps}}</span></p>
        </div>
      </div>
    </article>
  </div>
</br>

  <div class='row justify-content-around'>
    <article class='comments'>
      <h3 style='text-align: center;'>Comments:</h3>
      {{!-- >>>>>>>>>>>>>>>>> FOR EACH PARTIAL <<<<<<<<<<<<<<<<<<< --}}
      {{#each post.comments}}
      <div class='comment card bg-light mb-3' style='padding-inline:1em; padding-bottom: 0.25em; width: 40em'>
        <p class='' style='font-size: large;'>{{content}}</p>
        <p style='font-style: italic;'>Comment by <span style='font-weight: 500;'>{{user.username}} on {{timestamps}}</span></p>
      </div>
      {{/each}}
      <form class='comment-body'>
        <div class='form-group'>
          <input type='text' class='form-control' id='comm-content' placeholder="Type in comments...">
          <button type='submit' class='btn btn-primary' style='margin-top:0.5em'>Add Comment</button>
        </div>
      </form>
    </article>
  </div>
  
</section> 

{{!-- LINK CLIENT JAVASCRIPT FILE --}}
<script src='/js/add-comment.js'></script>